.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/icons/header.svg);
}
.header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.header .title{
    font-family: 'Neue Machina';
    text-align: center;
}

.informations{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.informations p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.25rem;
}

.informations p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/avatar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}


.informations .avatar::before {
    background-image: url(../img/icons/avatar.svg);
}

.informations .local::before {
    background-image: url(../img/icons/local.svg);
}

.informations .mail::before {
    background-image: url(../img/icons/mail.svg);
}

.informations .zap::before {
    background-image: url(../img/icons/zap.svg);
}

@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
        "photo title"
        "photo informations"
        ;
        
    }

    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title{
        grid-area: title;
        text-align: start;
        max-width: 210px;
    }

    .header .informations{
        grid-area: informations;
    }
}